*.db
*.opendb
*.log
*.tlog
*.obj
*.lib
*.pdb
*.idb
*.user
*.suo
*.user
*.user
*.user
*.ilk
*.exp
*.res
*.cache
*.moc
*.txt
*.json
*.lua
*.xml
*.o
*.apk
*.intermediate
*.DS_Store
*.so
code/externals/opus/celt/dump_modes/Makefile