*.db
*.opendb
*.log
*.tlog
*.obj
*.lib
*.pdb
*.idb
*.user
*.suo
*.user
*.user
*.user
*.ilk
*.exp
*.res
*.cache
*.moc
*.txt
*.json
*.lua
*.xml
*.o
*.apk
*.intermediate
*.DS_Store
*.so
code/externals/opus/celt/dump_modes/Makefile
*.mk
*.resfiles
*.ipch
*.db-shm
*.db-wal
*.recipe
*.cfg
*.tmp
*.ipdb
*.iobj
*.uws
*.pri
*.o-3bff322a
*.sqlite