*.db
*.opendb
*.log
*.tlog
*.obj
*.lib
*.pdb
*.idb
*.user
*.suo
*.user
*.user
*.user
*.ilk
*.exp
*.res
*.cache
*.moc
*.txt
*.json
*.lua
*.xml
*.o
*.apk
*.intermediate
*.DS_Store
*.so
code/externals/opus/celt/dump_modes/Makefile
*.mk
*.resfiles
*.ipch
*.db-shm
*.db-wal
*.recipe
*.cfg
*.tmp
*.ipdb
*.iobj
*.uws
*.pri
*.o-3bff322a
*.sqlite
*.lastbuildstate
*.tree
*.snap
*.unsuccessfulbuild
*.o-0e616288
*.index
*.prefs
*.exe
*.unsuccessfulbuild
*.d
*.class
*.hlsl
*.keystore
*.aidl
*.unsuccessfulbuild
*.aidl
*.unsuccessfulbuild
*.o-43927440
*.o-77144ac4
/bin/web/content/wz/pixmap/common.bmg
*.bmg
*.html
/bin/web/index.js
